@{
    ViewBag.Title = "Home Page";
}


@section Scripts {
    <!-- Bootstrapping -->
    <script src="app/app.js"></script>
    <script src="app/config.js"></script>
    <script src="app/config.exceptionHandler.js"></script>
    <script src="app/config.route.js"></script>

    <!-- common Modules -->
    <script src="app/common/common.js"></script>
    <script src="app/common/logger.js"></script>
    <script src="app/common/spinner.js"></script>

    <!-- common.bootstrap Modules -->
    <script src="app/common/bootstrap/bootstrap.dialog.js"></script>

    <!-- app -->
    <script src="app/admin/admin.js"></script>
    <script src="app/dashboard/dashboard.js"></script>
    <script src="app/layout/shell.js"></script>
    <script src="app/layout/sidebar.js"></script>

    <!-- app Services -->
    <script src="app/services/datacontext.js"></script>
    <script src="app/services/directives.js"></script>
}

@section Styles {
    <link href="content/ie10mobile.css" rel="stylesheet" />
    <link href="content/bootstrap.min.css" rel="stylesheet" />
    <link href="content/font-awesome.min.css" rel="stylesheet" />
    <link href="content/toastr.css" rel="stylesheet" />
    <link href="content/customtheme.css" rel="stylesheet">
    <link href="content/styles.css" rel="stylesheet" />
}

<div data-ng-app="app">
    <div>
        <div data-ng-include="'/app/layout/shell.html'"></div>
        <div id="splash-page" data-ng-show="false">
            <div class="page-splash">
                <div class="page-splash-message">
                    Finantech Modelo Financiero
                </div>
                <div class="progress progress-striped active page-progress-bar">
                    <div class="bar"></div>
                </div>
            </div>
        </div>
    </div>

    <span data-cc-scroll-to-top></span>
</div>